body {
    background-color: rgb(0, 60, 255);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    margin: 0;
}